<div class="col-md-6">
  <!-- Divider -->
  <div class="row">
    <div class="col">
      <h6 class="text-uppercase">Accounting</h6>
      <!-- Solid divider -->
      <hr class="solid">
    </div>
  </div>
  <table id="allocation_table" class="table table-striped" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th>Account</th>
        <th>Default</th>
        <th>Used & Pending</th>
        <th>Balance</th>
      </tr>
    </thead>
  </table>
</div>