<div class="card shadow table-responsive">
  <div class="card-header maroon-header">
    Accounts
  </div>
  <div class="card-body table-responsive p-0">
    <table id="allocation_table" class="table">
      <thead>
        <tr>
          <th>Account</th>
          <th>Default</th>
          <th>Allocation</th>
          <th>Used</th>
          <th>Balance</th>
        </tr>
      </thead>
    </table>

  </div>

</div>