<div class="card">
  <div class="card-body table-responsive p-0">
    <table id="job_file_table" class="table">
      <thead style="background-color: #332C2C; color: white;">
        <tr>
          <th>Job File Name</th>
          <th>Modified</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->