<div class="row">
  <div class="col-md-12 mt-3">
    <h4 class="text-uppercase">Job Composer</h4>
    <!-- Solid divider -->
    <hr class="solid">
  </div>
</div>

<div class="row justify-content-center">
  <!--/col-->
  <div class="col-8">

    <!-- form user info -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Job Configurations</h3>
      </div>
      <div class="card-body">
        <form class="form" role="form" id="slurm-config-form" autocomplete="off" method="POST" enctype="multipart/form-data" action="<%= url('/jobs/submit') %>">

          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label" for="walltime">Walltime</label>
            <div class="col-lg-9">
              <input type="text" name="walltime" class="form-control" pattern="^([1-9])[0-9]+:[0-5][0-9]$"
                placeholder="hh:mm (e.g. 12:30)" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label" for="gpu">Request a GPU</label>
            <div class="col-lg-9">
              <input class="form-control" type="checkbox" name="gpu">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label" for="cores">Total #CPUs</label>
            <div class="col-lg-9">
              <input class="form-control" type="number" name="cores" placeholder="e.g. 8" min="1" value="1" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label" for="cores-per-node">#Cores/Node</label>
            <div class="col-lg-9">
              <input class="form-control" type="number" name="cores-per-node" value="1" min="1" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label" for="total-memory">Total Memory</label>
            <div class="col-lg-9">
              <%# pattern="^([1-9])[0-9]+[MG]$" Use this pattern to support G %>
              <input class="form-control" type="text" name="total-memory" pattern="^([1-9])[0-9]+[M]$"
                placeholder="e.g. 1024M" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label" for="project-account">Project Account</label>
            <div class="col-lg-9">
              <input class="form-control" name="project-account" placeholder="if blank, use default project account"
                type="text">
            </div>
          </div>

          <!-- Module search -->
          <div class="form-inline form-group row">
            <label class="col-lg-3 col-form-label form-control-label" for="module-search">Module</label>
            <div class="col-lg-6 ui-widget">
              <input class="form-control" id="module-search">
              <button type="button" id="add_module_button" class="btn btn-primary mb-2">Add</button>
            </div>
         
          </div>
          <div class="row" id="module-list">
            <!-- place to add modules -->
            <!-- The list of module to load will be added at the end just before the user submit the form. see index.js -->
          </div>

          <div class="form-inline form-group row">
            <label class="col-lg-3 col-form-label form-control-label" for="executable_script">Executable Script</label>
            <div class="col-lg-9">
              <input type="file" name="executable_script" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /form user info -->
  </div>
</div>