<div class="row">
  <div class="col-md-12 mt-3">
    <h4 class="text-uppercase ">Job Composer</h4>
    <!-- Solid divider -->
    <hr class="solid">
  </div>
</div>

<div class="row justify-content-center">
  <!--/col-->
  <div class="col-6">
    <%== erb :"_job_config_form" %>
  </div>

  <div class="col-6">

    <%== erb :"_job_table" %>
    <!-- Solid divider -->
    <hr class="solid md-3 mt-3">

    <%== erb :"_job_file_table" %>

  </div>
</div>