<div class="card shadow">
  <div class="card-header maroon-header">
    Your Jobs
  </div>
  <div class="card-body table-responsive p-0">
    <table id="job_table" class="table">
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Name</th>
          <th>State</th>
          <th>Partition</th>
          <th>Walltime</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
     
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->