<!-- form user info -->
<div class="card shadow">
  <div class="card-header">
    <h6 class="maroon-header">Job Configurations</h6>
  </div>
  <div class="card-body">
    <form class="form" role="form" id="slurm-config-form" autocomplete="off" method="POST" enctype="multipart/form-data"
      action="<%= url('/jobs/submit') %>">

      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" for="name">Job Name</label>
        <div class="col-lg-9">
          <input type="text" name="name" class="form-control" required>
        </div>
      </div>
      <div class="form-row">
        <label class="col-lg-3 col-form-label form-control-label" for="walltime">Walltime</label>
        <div class="col">
          <input type="number" class="form-control" min="0" max="7" id="days" placeholder="days">
        </div>
        <div class="col">
          <input type="number" class="form-control" min="0" max="23" id="hours" placeholder="hours">
        </div>
        <div class="col">
          <input type="number" class="form-control" min="0" max="59" id="mins" placeholder="mins">
        </div>
      </div>
      <div class="form-group row mt-2">
        <label class="col-lg-3 col-form-label form-control-label" for="gpu">Request a GPU</label>
        <div class="col-lg-9">
          <input class="form-check-input form-control" type="checkbox" name="gpu">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" for="cores">Total #CPUs</label>
        <div class="col-lg-9">
          <input class="form-control" type="number" name="cores" placeholder="e.g. 8" min="1" value="1" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" for="cores-per-node">#CPUs/Node</label>
        <div class="col-lg-9">
          <input class="form-control" type="number" name="cores-per-node" value="1" min="1" max="28" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" for="total-memory">Total Memory</label>
        <div class="col-lg-9">
          <input class="form-control" type="text" name="total-memory" pattern="^[1-9]\d*(MB|G)$"
            placeholder="e.g. 1024MB or 2G " required>
          <div>MB = Megabyte, G = Gigabyte</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" for="project-account">Project Account</label>
        <div class="col-lg-9">
          <input class="form-control" name="project-account" type="text">
          <div>If blank, use default project account</div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" for="email">Email</label>
        <div class="col-lg-9">
          <input class="form-control" name="email" placeholder="Default netid@tamu.edu" type="email">
          <div>Email address to receive output from your job.</div>
        </div>
      </div>
      <!-- Module search -->
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label" for="module-search">Module</label>
        <div class="col-lg-6 ui-widget">
          <input class="form-control" id="module-search">
          <button type="button" id="add_module_button" class="btn btn-primary mt-2 maroon-button">Add</button>
        </div>

      </div>
      <div class="row" id="module-list">
        <!-- place to add modules -->
        <!-- The list of module to load will be added at the end just before the user submit the form. see index.js -->
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Runtime</label>
        <div class="col-lg-9">
          <select id="runtime_env" name="runtime">
            <option selected value="shell">Shell</option>
            <option value="other">Other</option>
            <option value="python">Python</option>
            <option value="matlab">Matlab</option>
            <option value="r">R</option>
          </select>
        </div>
      </div>

      <div class="form-group row mt-2">
        <label class="col-lg-3 col-form-label form-control-label" for="executable_script">Executable
          Script</label>
        <div class="col-lg-9">
          <input id="executable_file_input" type="file" name="executable_script" required>
          <p>You <strong>must</strong> upload an executable script to continue.</p>

        </div>
      </div>
      <div id="runtime_config" style="display: none;">
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label" for="run_command">Commands</label>
          <div class="col-lg-9">
            <textarea id="run_command" class="form-control" name="run_command"
              placeholder="Shell command to run your script." type="text" rows="5" required></textarea>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label"></label>
          <div id="job-submit-button-section" class="col-lg-9">
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      ⚠️ Cautions: Job files will overwrite existing files with the same name.
      The same principle applies for your executable scripts.
    </small>
  </div>
</div>
<!-- /form user info -->