<div class="row">
  <div class="col-md-12 mt-3">
    <h4 class="text-uppercase">HPRC Job Composer</h4>
    <!-- Solid divider -->
    <hr class="solid">
  </div>
</div>

<div class="row justify-content-center">
  <!--/col-->
  <div class="col-md-5">
    <%== erb :"_job_config_form" %>
  </div>

  <div class="col-md-7">

    <%== erb :"_job_table" %>
    <!-- Solid divider -->
    <hr class="solid md-3 mt-3">

    <%== erb :"_job_file_table" %>

    <!-- Solid divider -->
    <hr class="solid md-3 mt-3">

    <div id="runtime_config">
        <div class="form-group">
          <div>
            <textarea id="run_command" class="form-control" name="run_command" form="slurm-config-form"
              placeholder="Shell command to run your script." type="text" rows="10" required></textarea>
          </div>
        </div>
      </div>


  </div>
</div>