<div class="card">
  <div class="card-body table-responsive p-0">
    <table id="job_table" class="table">
      <thead style="background-color: #ffc107; color: black;">
        <tr>
          <th>Job ID</th>
          <th>Name</th>
          <th>State</th>
          <th style="width: fit-content;">Log</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- /.card-body -->
  
</div>
<!-- /.card -->