<div class="card shadow">
  <div class="card-header maroon-header">
    Your Jobs
  </div>

 <div class="card-body maroon-header">
    Completed jobs
  </div>

  <div class="card-body table-responsive p-0">
    <table id="completed_table" class="table">
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Name</th>
          <th>CPUS</th>
          <th>Walltime</th>
          <th>State</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="card-body maroon-header">
    Current Jobs
  </div>

  <div class="card-body table-responsive p-0">
    <table id="job_table" class="table">
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Name</th>
          <th>State</th>
          <th>Partition</th>
          <th>Walltime</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
  <div>
    <a target="_blank" role="button" class="btn btn-primary maroon-button" href='<%= url("/jobs/composer") %>'>Job Composer</a>
    <span><button type="button" class="btn btn-primary maroon-button" id='refresh-job-table-button' onclick='load_job_table()'>Refresh</button></span>
    <span style="display: none;" id='refresh-job-table-button-spinner' class="spinner-border" role="status"></span>
  </div>
  </div>
</div>
<!-- /.card -->
