<div class="card table-responsive">
  <table id="job_table" class="table">
    <thead>
      <tr>
        <th style="width: fit-content;">Job ID</th>
        <th>Name</th>
        <th>State</th>
      </tr>
    </thead>
  </table>
</div>
<!-- /.card -->