<div class="card">
  <div class="card-header" style="background-color: #332C2C; color: white;">
    Job Files
  </div>
  <div class="card-body table-responsive p-0">
    <table id="job_file_table" class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Modified</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <small class="text-muted">
      Job files composed with this job composer are shown here.
    </small>
  </div>
</div>
<!-- /.card -->