<div class="card shadow">
  <div class="card-header maroon-header">
    Disk Quotas
  </div>
  <div class="card-body table-responsive p-0">
    <table id="quota_table" class="table">
      <thead>
        <tr>
          <th>Disk</th>
          <th>Disk Usage</th>
          <th>Limit</th>
          <th>File Usage</th>
          <th>Limit</th>
        </tr>
      </thead>

    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <button type="button" class="btn btn-primary maroon-button" class="nav-link active btn-rounded mb-4" data-toggle="modal"
      data-target="#requestQuotaModal">Request Quota Increase</button>
  </div>
  <!-- ./card-footer -->
</div>
<!-- /.card -->

<!-- Quota Request Model Forms -->
<div class="modal fade" id="requestQuotaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-dark text-center">
        <h5 class="modal-title w-100 font-weight-bold">Quota Increase Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-3">
        <form class="form" id="modalQuotaRequestForm">
          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='cluster_name' class="form-control validate" value="<%= settings.cluster_name %>"
              readonly>
          </div>

          <!-- Hidden input fields for current used file count and disk quota -->
          <div style="display: none;">
            <input type="hidden" id="current_used_file" name="current_used_file">
            <input type="hidden" id="current_used_disk_quota" name="current_used_disk_quota">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="current_quota">Current Disk Quota</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name="current_quota" readonly class="form-control" id="current_quota">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="desired_disk">New Disk Quota</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='desired_disk' class="form-control validate">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="current_file_limit">Current File Limit</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name="current_file_limit" readonly class="form-control" id="current_file_limit">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="total_file_limit">New File Limit</label>
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" name="total_file_limit" class="form-control validate">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="request_justification">Justification
              (Required)</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="request_justification" class="md-textarea form-control"
            rows="4" required placeholder="What data is stored with requested quota?
What job requires this quota increase?
What is the input/output size of the job?
what is your long-term plan for this data" ></textarea>
          </div>
          <div class="md-form">
            <input type="checkbox" name="terms" required> I verify that I will remove any unnecessary data and compress
            files/folders to save shared resources.</input>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary request-maroon-button">Submit Request</button>
          </div>
          <div style="color: red" class="text-center">
            Either Disk Quota or File Limit must be filled. Invalid request will be ignored.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>