<div class="card shadow">
  <div class="card-header maroon-header">
    Disk Quotas
  </div>
  <div class="card-body table-responsive p-0">
    <table id="quota_table" class="table">
      <thead>
        <tr>
          <th>Disk</th>
          <th>Disk Usage</th>
          <th>Limit</th>
          <th>File Usage</th>
          <th>Limit</th>
        </tr>
      </thead>

    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <button type="button" class="btn btn-primary maroon-button" class="nav-link active btn-rounded mb-4" data-toggle="modal"
      data-target="#requestQuotaModal">Request Quota Increase</button>
  </div>
  <!-- ./card-footer -->
</div>
<!-- /.card -->

<!-- Quota Request Model Forms -->
<div class="modal fade" id="requestQuotaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-light text-center">
        <h5 class="modal-title w-100 font-weight-bold">Quota Increase Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      
      
      <div class="modal-body mx-3">
        <form class="form" id="modalQuotaRequestForm">
          <div class="md-form mb-2" style="color: maroon;">
            <p>Quota requests are subject to review and approval by HPRC admins. Please provide a strong and detailed justification for this request.</p>
            <p>Only a PI can request quota increases that exceed 10 TB or last more than six months. These requests need approval from the HPRC Director.</p>
          </div>
          
          <div class="md-form mb-2">
	        <p> Is this request more than 10TB or for longer than 6 months? </p>
            <input type="radio" name="length" id="yes6" value="yes" onclick=checkLength(value)>Yes  
            <input type="radio" name="length" id="no6" value="no" onclick=checkLength(value)>No  
          </div>
          
          <div class="md-form mb-2" style="color: maroon;">
            <div id="need-PI-request" style="display:none">
                <!--<p> Quota increases greater than 10 TB or 6 months must be requested by a PI to be approved by the Director of HPRC. -->
                <!--    If you are not a PI, please have your PI contact us to provide justification. </p>-->
            
                <p> Are you a PI for this request? </p>
                <input type="radio" name="confirmPi" id="yesPI" value="yes" onclick=checkPi(value)>Yes  
                <input type="radio" name="confirmPi" id="noPI" value="no" onclick=checkPi(value)>No
            </div>
            
          </div>
          
          <div id="Pi-notice" style="display:none;">
              <div class="md-form mb-2">
                <p>Please have your PI request the quota increase!</p>
              </div>
          </div>
          
          <div class="md-form mb-2" style="color: maroon;">
            <div id="buyin-option" style="display:none">
                <p>HPRC offers a Buy-In option for storage:<br>
                Are you interested in buying in ($130/TB for 5 years, $26/TB for one year) </p>
                <input type="radio" name="confirmBuyin" id="yesBuy" value="yes" onclick=checkBuyin(value)>Yes
                <input type="radio" name="confirmBuyin" id="noBuy" value="no" onclick=checkBuyin(value)>No
            </div>
          </div>
          
          
          <div id="extra-form-fields" style="display:none;">
            <div class="md-form mb-2">
                <label data-error="wrong" data-success="right" for="request_until">Until when do you need the increased storage?</label>
                <input type="text" name="request_until" class="md-textarea form-control" id="datepicker">
            </div>
            
            <div class="md-form mb-2">
                <label data-error="wrong" data-success="right" for="student_netid">If this request is for a student, provide netid of the student or group name:</label>
                <i class="fas fa-pencil prefix grey-text"></i>
                <textarea type="text" name="student_netid" class="md-textarea form-control"
                rows="1"></textarea>
            </div>
          </div>
          

          <div id="current-status-fields" style="display: none;">
          <div class="md-form mb-2" style="display: none;">
            <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='cluster_name' class="form-control validate" value="<%= settings.cluster_name %>"
              readonly>
          </div>

          <!-- Hidden input fields for current used file count and disk quota -->
          <div style="display: none;">
            <input type="hidden" id="current_used_file" name="current_used_file">
            <input type="hidden" id="current_used_disk_quota" name="current_used_disk_quota">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="current_quota">Current Scratch Quota</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name="current_quota" readonly class="form-control" id="current_quota">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="desired_disk">New Scratch Quota</label>
            <i class="fas fa-user prefix grey-text"></i>
            <div class="input-group">
              <input type="number" step="any" name='desired_disk' class="form-control validate" id="desired_disk">
              <div class="input-group-append">
                <span class="input-group-text"> TB </span>
              </div>
            </div>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="current_file_limit">Current File Limit</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name="current_file_limit" readonly class="form-control" id="current_file_limit">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="total_file_limit">New File Limit</label>
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="number" step="any" name="total_file_limit" class="form-control validate" id="total_file_limit">
          </div>
          </div>

          
          <div id="body-form-fields" style="display:none;">
          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="request_justification">Justification (Required)</label>
            <p>What data is stored with requested quota? <br>
            What job requires this quota increase? <br>
            What is the input/output size of the job? <br>
            What is your long-term plan for this data?</p>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="request_justification" class="md-textarea form-control" id="justification-field"
            rows="4"></textarea>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="comment">Comment (Optional)</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="comment" class="md-textarea form-control" rows="4"></textarea>
          </div>
          </div>
          
          <div id="submit-field" style="display:none;">
            <div class="md-form mb-2">
                <input type="checkbox" name="terms" required> I verify that I will remove any unnecessary data and compress
                files/folders to save shared resources.</input>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary request-maroon-button">Submit Request</button>
            </div>
            <div style="color: maroon;" class="text-center">
                Either Disk Quota or File Limit must be filled.
            </div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>
</div>
