<div class="card table-responsive text-white bg-success">
  <div class="card-header bg-purple">
    <h6 class="text-uppercase">Requests</h6>
  </div>
  <table id="general_request" class="table table-borderless " style="width:100%; color: white;">
    <tbody>
      <tr>
        <td>Request Software</td>
        <td><button type="button" class="btn btn-primary" class="nav-link active btn-rounded mb-4" data-toggle="modal"
            data-target="#requestSoftwareModal">Request</button></td>
      </tr>
      <tr>
        <td>Need Assistant?</td>
        <td><button type="button" class="btn btn-primary" class="nav-link active btn-rounded mb-4" data-toggle="modal"
            data-target="#requestHelpModal">Get Help</button></td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Software Request Model Forms -->
<div class="modal fade" id="requestSoftwareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-light text-center">
        <h4 class="modal-title w-100 font-weight-bold">Software Request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div style="color: red">Please check our <a href="https://hprc.tamu.edu/software/<%= settings.cluster_name %>/"
            target="_blank">list of currently available software</a> before submitting request.</div>
        <form class="form" id="modalSoftwareRequestForm">
          <div class="md-form mb-2" style="display: none;">
            <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='cluster_name' class="form-control validate" value="<%= settings.cluster_name %>" readonly>
          </div>
          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="software_name">Software Information
              (Required)</label>
            <div class="form-row align-items-center">
              <div class="col-sm-6 my-1">
                <input type="text" class="form-control" name="software_name" placeholder="Name (e.g. Python)" required>
              </div>
              <div class="col-sm-6 my-1">
                <input type="text" class="form-control" name="software_version" placeholder="Version (e.g. 3.8)"
                  required>
              </div>
            </div>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="software_link">Software Download Link
              (Required)</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='software_link' class="form-control validate" required>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="toolchains">Toolchain (if
              applicable)</label>
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" name="toolchains" class="form-control validate" placeholder="e.g. intel/2020a">
            <p>See <a href="https://hprc.tamu.edu/wiki/SW:Toolchains" target="_blank">Toolchains page</a>
              for more
              information.</p>
          </div>

          <div class="md-form">
            <label data-error="wrong" data-success="right" for="request_justification">Justifications
              (Required)</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="request_justification" class="md-textarea form-control"
              placeholder="Please provide justifications for your request (e.g. why you need this software, etc.)"
              rows="4"></textarea>
          </div>

          <div class="md-form">
            <label data-error="wrong" data-success="right" for="additional_notes">Additional Notes (if
              applicable)</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="additional_notes" class="md-textarea form-control"
              placeholder="e.g. License-Restricted Packages (who should have access)" rows="4"></textarea>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit Request</button>
            <p>For more information, please check out our <a href="https://hprc.tamu.edu/policies/software.html"
                target="_blank">Software
                Policies</a>.</p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Help Request Model Forms -->
<div class="modal fade" id="requestHelpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-light text-center">
        <h4 class="modal-title w-100 font-weight-bold">Get Help</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="form" id="modalHelpRequestForm">
          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='cluster_name' class="form-control validate" value="<%= settings.cluster_name %>" readonly>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="help_topic">What do you need help with?</label>
            <i class="fas fa-envelope prefix grey-text"></i>
            <select name="help_topic">
              <option value="Other">Other</option>
              <option value="Software Usage">Software Usage</option>
              <option value="Running Job">Running Job</option>
              <option value="Service Unit related">Service Unit related</option>
              <option value="Software Installation">Software Installtion</option>
            </select>
          </div>

          <div class="md-form">
            <label data-error="wrong" data-success="right" for="issue_description">Issue Descriptions</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="issue_description" class="md-textarea form-control"
              placeholder="Please describe your problem in details." rows="5"></textarea>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="error_message">Error Message</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="error_message" class="md-textarea form-control"
              placeholder="e.g. file my_script.py cannot be found" rows="4"></textarea>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="job_file_path">Path to Your Job File</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='job_file_path' class="form-control validate"
              placeholder="e.g. $SCRATCH/myawsome_research/my_sim_job.sbatch">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="program_file_path">Path to Your Executable/Script
              file</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='program_file_path' class="form-control validate"
              placeholder="e.g. $SCRATCH/myawsome_research/hello_world.out">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="additional_information">Additional Information</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="additional_information" class="md-textarea form-control"
              placeholder="e.g. The data is located at $SCRATCH/my_data. Also, when I run the job, I use my Python virtual environment located in $SCRATCH/venv/"
              rows="4"></textarea>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Get Help</button>
          </div>
          <div style="color: red;">Please be as specific as possible. This will help us resolve your issue faster.</div>
        </form>
      </div>

    </div>
  </div>
</div>