<div class="card table-responsive text-white bg-success">
  <div class="card-header bg-purple">
    <h6 class="text-uppercase">Requests</h6>
  </div>
  <table id="general_request" class="table table-borderless " style="width:100%; color: white;">
    <tbody>
      <tr>
        <td>Request Software</td>
        <td><button type="button" class="btn btn-primary" class="nav-link active btn-rounded mb-4" data-toggle="modal"
            data-target="#requestSoftwareModal">Request</button></td>
      </tr>
      <tr>
        <td>Need Assistant?</td>
        <td><button type="button" class="btn btn-primary" class="nav-link active btn-rounded mb-4" data-toggle="modal"
            data-target="#requestHelpModal">Get Help</button></td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Software Request Model Forms -->
<%== erb :"_software_request_form" %>


<!-- Help Request Model Forms -->
<%== erb :"_help_request_form" %>