<div class="row">
  <h6 class="text-uppercase">Tools</h6>
  <!-- Solid divider -->
  <hr class="solid">
  <div class="table-responsive">
    <table class="table borderless">
      <tr>
        <td><a target="_blank" href='<%= url("/jobs/composer") %>'>Quick Job Submit</a></td>
      </tr>
    </table>
  </div>
</div>