<div class="table-responsive">
  <table class="table borderless">
    <thead>
      <tr>
        <th>Tools</th>
      </tr>
    </thead>
    <tr>
      <td><a target="_blank" href='<%= url("/jobs/composer") %>'>Quick Job Submit</a></td>
    </tr>
  </table>
</div>