<div class="row">
  
</div>

  <div class="col-md-12 mx-auto">
    <div class="row mt-4">
      <div class="col">
        <%== erb :"_cluster_stats" %>
      </div>
    </div>
    <div class="col mt-2">
      <br/>
      <h6 class="text-uppercase col-xs-1 text-center">Summary</h6>
      <!-- Solid divider -->
      <hr class="solid">
    </div>
    <div class="row mt-4">
      <div class="col">
        <%== erb :"_accounting_table" %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <%== erb :"_quota_table" %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <%== erb :"_job_table_with_composer_button" %>
      </div>
    </div>    
  </div>
</div>