/* Assume that browser does a decent job for caching fonts */

body {
  font-family: "Open Sans", sans-serif;
}

h4 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto; /* prevent horizontal scrollbar */
  overflow-x: hidden; /* add padding to account for vertical scrollbar */
  z-index: 1000 !important;
}

/* global loading indicator */
/* source: https://jsfiddle.net/qjk0zfud/ */
#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}

.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid firebrick;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.maroon-header {
  background-color: #332C2C; 
  color: white;
}
