/* Assume that browser does a decent job for caching fonts */

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  z-index: 1000 !important;
}

/* global loading indicator */
/* source: https://jsfiddle.net/qjk0zfud/ */
#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: 0.8;
}

.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.maroon-header {
  background-color: white;
  color: maroon;
  font-weight: bold;
}

.module-to-load:hover {
  background-color: red;
  cursor: pointer;
}

.card {
  border: 0;
  border-color: rgba(80, 0, 0, 0.3);
  border-radius: 15px 15px 15px 15px !important;
  padding: 0.5em;
}

.card-footer,
.card-header {
  background-color: transparent;
}

.maroon-button,
.maroon-button-secondary {
  color: maroon;
  background-color: white;
  border-color: rgba(80, 0, 0, 0.5);
  border-radius: 8px 8px 8px 8px !important;
}

.maroon-button:hover,
.maroon-button:focus {
  color: white;
  background-color: maroon;
  border-color: maroon;
}

.maroon-button-filled {
  border-radius: 8px 8px 8px 8px !important;
  color: white;
  background-color: maroon;
  border-color: maroon;
}

.maroon-button-filled:hover,
.maroon-button-filled:focus {
  border-color: maroon;
  box-shadow: 0 0 10px maroon;
  background-color: maroon;
}

.maroon-button-secondary:hover,
.maroon-button-secondary:focus {
  border-color: rgba(80, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(80, 0, 0, 0.5);
  color: maroon;
  background-color: white;
  border-color: rgba(80, 0, 0, 0.5);
  border-radius: 8px 8px 8px 8px !important;

}
.request-maroon-button {
  color: white;
  background-color: maroon;
  border-radius: 8px 8px 8px 8px !important;
  border-color: maroon;
}

.request-maroon-button:hover,
.request-maroon-button:focus {
  color: white;
  background-color: maroon;
  border-color: maroon;
}

.navbar-button {
  color: maroon;
  background-color: white;
  border-radius: 8px 8px 8px 8px !important;
}

.navbar-button:hover {
  color: white;
  background-color: maroon;
  border-radius: 8px 8px 8px 8px !important;
  border-color: white;
}

thead th {
  background-color: transparent;
  color: maroon;
}

a {
  color: maroon;
}

a:hover {
  color: grey;
}

footer {
  background-color: maroon;
  color: white;
}

.modal-header {
  background-color: #500000;
  color: white !important;
}

.subdir-button {
  margin: 5px; /* You can adjust the margin as needed */
}

.move-left {
  width: 2em;
  height: 2em;
}


.CodeMirror {
  height: auto !important;
  min-height: 400px;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 0 0 5px 5px;
}

.CodeMirror-gutters {
  background-color: #f1f1f1;
  border-right: 1px solid #ddd;
}

.CodeMirror-linenumber {
  color: #999;
  padding: 0 5px;
}

.cm-container {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.CodeMirror-lines {
  padding: 8px 0;
}

.pane-tabs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  background-color: #f1f1f1;
}

.pane-tab {
  padding: 10px 15px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-bottom: none;
  cursor: pointer;
  margin: 0 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 14px;
}

.pane-tab-active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
