<!-- form user info -->
<div class="card shadow">
  <div class="card-header">
    <h6 class="maroon-header">Job Composer</h6>
  </div>
  <div class="card-body">
    <form
      class="form"
      role="form"
      id="slurm-config-form"
      autocomplete="off"
      method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('job_composer.submit_job') }}"
    >
      <div class="row">
        <!-- Left Column -->
        <div class="col-lg-12">
          <div id="job-content">
            <!--  Fields -->
            <div id="generalFieldsContainer">
              <!-- generated form fields will be inserted here -->
            </div>

            <!-- General and Files Tab Section -->
            <div
              class="tab-pane fade show active"
              id="general-tab-content"
              role="tabpanel"
              aria-labelledby="general-tab"
            >
              <!-- Job Name -->
              <div class="form-group row">
                <label
                  class="col-lg-3 col-form-label form-control-label"
                  for="name"
                  >Job Name</label
                >
                <div class="col-lg-9">
                  <input
                    type="text"
                    name="name"
                    id="job-name"
                    class="form-control"
                    required
                  />
                </div>
              </div>

              <!-- Runtime Environment -->
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Environment</label
                >
                <div class="col-lg-9">
                  <select id="runtime_env" name="runtime">
                    <option disabled selected value>Select an option</option>
                    {% for env in environments %}
                    <option value="{{ env }}">{{ env }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <!-- Dynamic Environment Config -->
            <div id="dynamicFieldsContainer">
              <!-- Dynamically generated form fields will be inserted here -->
            </div>

            <!-- Slurm Job Info Collapse Section -->
          </div>
        </div>

        <!-- Right Column: Job Preview Section -->
        <div id="right-col" class="col-lg-6" , style="display: none">
          <div id="runtime_config">
            <div class="form-group">
              <div>
                <textarea
                  id="run_command"
                  class="form-control"
                  name="run_command"
                  form="slurm-config-form"
                  placeholder="Shell command to run your script."
                  type="text"
                  rows="12"
                  required
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Preview Button -->
      <div class="form-group row text-center">
        <div id="job-preview-button-section" class="col-lg-12">
          <input
            type="button"
            id="job-preview-button"
            class="btn btn-primary maroon-button"
            value="Preview"
          />
        </div>
      </div>

      <!-- Test Button -->
      <!-- <button type="button" class="btn btn-primary" onclick="printFields()" >Show Fields</button> -->
      <!-- Test Button -->
      <!-- <button type="button" class="btn btn-primary" onclick="printDependencyControl()" >printDependencyControl</button> -->
    </form>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      ⚠️ Cautions: Job files will overwrite existing files with the same name.
      The same principle applies for your executable scripts.
    </small>
  </div>
</div>
<!-- /form user info -->

<!-- Dynamic Modal -->
<div id="dynamicModalContainer"></div>

<!-- Modal for Job Preview -->
<div
  class="modal fade bd-example-modal-lg"
  id="job-preview-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Job Preview</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="job-preview-container"></div>
      </div>
      <div class="modal-footer">
        <!-- Submit Button -->
        <div class="form-group row text-center">
          <div id="job-submit-button-section" class="col-lg-12">
            <input
              type="submit"
              class="btn btn-primary maroon-button"
              value="Submit"
              form="slurm-config-form"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
