<!-- form user info -->
<div class="card shadow">
  <div class="card-header">
    <h6 class="maroon-header">Job Composer</h6>
  </div>
  <div class="card-body">
    <form
      class="form"
      role="form"
      id="slurm-config-form"
      autocomplete="off"
      method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('job_composer.submit_job') }}"
    >
      <div class="row">
        <!-- Left Column -->
        <div class="col-lg-12">

          <div id="job-content">
            <!--  Fields -->
            <div id="generalFieldsContainer">
              <!-- generated form fields will be inserted here -->
            </div>

            <!-- General and Files Tab Section -->
            <div
              class="tab-pane fade show active"
              id="general-tab-content"
              role="tabpanel"
              aria-labelledby="general-tab"
            >
              <!-- Job Name -->
              <div class="form-group row">
                <label
                  class="col-lg-3 col-form-label form-control-label"
                  for="name"
                  >Job Name</label
                >
                <div class="col-lg-9">
                  <input
                    type="text"
                    name="name"
                    id="job-name"
                    class="form-control"
                    required
                  />
                </div>
              </div>

              <!-- Runtime Environment -->
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Environments</label
                >
                <div class="col-lg-9">
                  <select id="runtime_env" name="runtime">
                    <option disabled selected value>Select an option</option>
                    {% for env in environments %}
                    <option value="{{ env }}">{{ env }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <!-- Dynamic Environment Config -->
              <div id="dynamicFieldsContainer">
                <!-- Dynamically generated form fields will be inserted here -->
              </div>

              <!-- Module Component -->
              <div id="module-component" style="display: none">
                <!-- Module Search -->
                <div class="form-group row">
                  <label
                    class="col-lg-3 col-form-label form-control-label"
                    for="module-search"
                    >Module</label
                  >
                  <div class="col-lg-6 ui-widget">
                    <input class="form-control" id="module-search" />
                    <button
                      type="button"
                      id="add_module_button"
                      class="btn btn-primary mt-2 maroon-button"
                    >
                      Add
                    </button>
                  </div>
                </div>

                <!-- Added Module List -->
                <div class="row" id="module_list">
                  <!-- place to add modules -->
                  <!-- The list of module to load will be added at the end just before the user submit the form. see index.js -->
                </div>
              </div>

              <!-- Virtual Environment Component -->
              <div id="venv-component" style="display: none">
                <div class="form-group row">
                  <label
                    class="col-lg-3 col-form-label form-control-label"
                    for="venv"
                    >Virtual Env</label
                  >
                  <div class="col-lg-9">
                    <input
                      type="text"
                      id="venv"
                      name="venv"
                      class="form-control"
                      value="Default Venv"
                    />
                  </div>
                </div>
              </div>

              <!-- Solid divider -->
              <hr class="solid md-3 mt-3" />

              <!-- Option to run job in different directory -->
              <div id="location-component">
                <div class="form-group row">
                  <label
                    class="col-lg-3 col-form-label form-control-label"
                    for="location"
                    >Directory</label
                  >
                  <div class="col-lg-9">
                    <input
                      type="text"
                      id="location"
                      name="location"
                      class="form-control"
                      value="/scratch/user/{{ config.user }}/job_composer/"
                      readonly
                    />
                    <div id="file-picker" style="margin-top: 15px">
                      <button
                        type="button"
                        id="file-picker-button"
                        class="btn btn-primary maroon-button"
                      >
                        Change Location
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Files and Folder Uploader -->
              <div class="form-group row mt-2">
                <label
                  class="col-lg-3 col-form-label form-control-label"
                  for="uploaderCheckbox"
                  >Upload Your Files</label
                >
                <div class="col-lg-2">
                  <input
                    class="form-check-input form-control"
                    type="checkbox"
                    name="uploaderCheckbox"
                    id="uploaderCheckbox"
                  />
                </div>
              </div>
              <div id="uploader-section" style="display: none">
                <!-- <div class="form-group row mt-2">
                <label class="col-lg-3 col-form-label form-control-label" for="executable_script">Main Script</label>
                <div class="col-lg-9">
                <input id="executable_file_input" type="file" name="executable_script">
                Hidden input field to store the file name
                <input type="hidden" name="mainscript" id="mainscript">
                </div>
            </div> -->

                <div class="form-group row mt-2">
                  <label
                    class="col-lg-3 col-form-label form-control-label"
                    for="files[]"
                    >Uploader</label
                  >
                  <div class="col-lg-9">
                    <select id="mySelect" name="mySelect">
                      <option value="none" selected disabled>
                        Select an option
                      </option>
                      <option value="file">File</option>
                      <option value="folder">Folder</option>
                    </select>
                    <input
                      id="fileInput"
                      type="file"
                      multiple
                      style="display: none"
                    />
                    <input
                      id="folderInput"
                      type="file"
                      multiple
                      webkitdirectory
                      directory
                      style="display: none"
                    />

                    <button id="addButton" type="button" class="maroon-button">
                      + Add Files
                    </button>
                  </div>
                </div>
                <div
                  class="form-group"
                  id="myFiles"
                  style="
                    height: 120px;
                    border: 1px solid #ccc;
                    font: 16px/26px Georgia, Garamond, Serif;
                    overflow: auto;
                  "
                ></div>
              </div>
            </div>

            <!-- Slurm Job Info Collapse Section -->
          </div>
        </div>

        <!-- Right Column: Job Preview Section -->
        <div id="right-col" class="col-lg-6" , style="display: none">
          <div id="runtime_config">
            <div class="form-group">
              <div>
                <textarea
                  id="run_command"
                  class="form-control"
                  name="run_command"
                  form="slurm-config-form"
                  placeholder="Shell command to run your script."
                  type="text"
                  rows="12"
                  required
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Preview Button -->
      <div class="form-group row text-center">
        <div id="job-preview-button-section" class="col-lg-12">
          <input
            type="button"
            id="job-preview-button"
            class="btn btn-primary maroon-button"
            value="Preview"
          />
        </div>
      </div>

      <!-- Test Button -->
      <!-- <button type="button" class="btn btn-primary" onclick="printFields()" >Show Fields</button> -->
      <!-- Test Button -->
      <!-- <button type="button" class="btn btn-primary" onclick="printDependencyControl()" >printDependencyControl</button> -->
    </form>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      ⚠️ Cautions: Job files will overwrite existing files with the same name.
      The same principle applies for your executable scripts.
    </small>
  </div>
</div>
<!-- /form user info -->

<!-- Modal for File Path Explorer -->
<div
  class="modal fade bd-example-modal-lg"
  id="file-picker-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="currentPath">Current Path</label>
          <input
            type="text"
            class="form-control"
            id="currentPath"
            placeholder="/"
            readonly
          />
        </div>
        <div id="path-components"></div>
        <div id="subdirs-container"></div>
      </div>
      <div class="modal-footer">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <button id="backButton" class="btn btn-outline-secondary">
                Previous
              </button>
            </div>
            <div class="col-6 text-left">
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                id="changeLocation"
              >
                Save changes
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Job Preview -->
<div
  class="modal fade bd-example-modal-lg"
  id="job-preview-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Job Preview</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="job-preview-container"></div>
      </div>
      <div class="modal-footer">
        <!-- Submit Button -->
        <div class="form-group row text-center">
          <div id="job-submit-button-section" class="col-lg-12">
            <input
              type="submit"
              class="btn btn-primary maroon-button"
              value="Submit"
              form="slurm-config-form"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
